@font-face {
    font-family: myFont;
    src: url(../rwby_style.ttf);
}

body{
    background-color: black;
}

header{
    display: flex;
    justify-content: left;
    background-color: rgb(19,18,22);
    padding-left: 30px;
    height: 70px;
    width: auto;
    font-size: 30px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}

.h1-titulos{
    padding-top: 10px;
    color: white;
    text-align: center;
    font-family: myFont;
    font-size: 60px;
}

.nav-items{
    display: flex;
    list-style: none;
    padding: 20px;
    margin-left: 10px;
}

.nav-items li{
    margin-left: 25px;
    font-size: 30px;
    padding-top: 3px;
    font-family: myFont;
}

.logo img{
    height: 50px;
    padding-top: 10px;
}

.logo .logo-text{
    padding-top: 10px;
}

.title-welcome{
    padding-top: 10px;
    color: white;
    text-align: center;
}

.trailer-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0px 64px;
}

.box-1 {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 1080px;
}

.box-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.box-1 .front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.box-1 .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.box-1:hover .front {
    opacity: 0; 
}

.box-1:hover .back {
    opacity: 1;
}


/* Explicacion */

.intro{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(39,39,38);
    color: white;
    border-radius: 10px;
    grid-template-columns: 1fr 8fr;
    margin: 60px;
}

.intro-imagen img{
    width: 150px;
    height: 150px;
}

.intro-texto{
    font-size: 24px;
    margin-top: 20px;
    margin-right: 20px;
}

/* Personajes */
.container{
    height: 800px;
    /* height: 100vw; */
    width: 100%;
    display: grid;
    place-content: center;
    margin: 30px 0 100px;
}

.slide{
    width: 1800px;
    max-height: 1000px;
    height: 800px;
    overflow: hidden;
    border-radius: 10px;
} 

.slide ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite;
}

@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    59% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}


.char{
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    background-color: rgb(39,39,38);
    color: white;
    border-radius: 10px;
    height: 800px;
    width: 1800px;
    gap: 40px;
}

.char-image img{
    height: 800px;
    width: auto;
    padding: 20px;
}

.char-desc{
    justify-content: center;
    margin-right: 30px;

}

.char-desc h1{
    font-size: 70px;
    padding: 20px;
    text-align: center;
}

.char-desc p{
    font-size: 28px;
    text-align: justify;
}

.char-desc img{
    margin-top: 30px;
    padding: 10px;
    height: 250px;
}


/* Noticias */

.news-box{
    display: grid;
    gap: 30px;
    margin: 30px 30px 100px;
    grid-template-columns: 1fr 1fr 1fr;
}

.new{
    background-color: rgb(39,39,38);
    color: white;
    padding: 1em;
    border: 1px solid rgb(88, 28, 32);
    border-radius: 10px;
}

.new img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.new-title{
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.new-desc{
    font-size: 18px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* VOLUMENES */

.volume-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
}

.volume{
    display: grid;
    justify-content: center;
    background-color: rgb(39,39,38);
    color: white;
    border-radius: 20px;
    grid-template-columns: 1fr 2fr;
    margin: 5%;
    height: 400px;
}

.volume-image img{
    height: 400px;
    width: auto;
}

.episodes{
    overflow:auto;
    text-align: left;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
}

.episodes h2{
    text-align: center;
}

/* JUEGOS */
.games-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 150px 100px;
    gap: 50px;
}

.game-box{
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(39,39,38);
    color: white;
}

.game-text h1{
    font-size: 34px;
}

.game-text p{
    font-size: 18px;
    margin: 10px;
}

.game img{ 
    padding: 20px;
    width: 700px;
}

.game-links img{
    width: 100px;
    padding: 0px 20px;
}

/* MUSICA */
.music-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 300px 20px 300px;
    gap: 50px;
}

/* LIBROS */
.book-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    margin: 20px 200px 20px 200px;
    gap: 50px;
}

.book{
    background-color: rgb(39,39,38);
    color: white;
    border: 1px solid rgb(88, 28, 32);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    
}

.book-image{
    height: 400px;
}

.book-title{
    color: white;
    padding-top: 10px;
}



/* FOOTER */
footer{
    background-color: crimson;
}

h2{
    color: white;
}

a{
    color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: gainsboro;
}

a:active {
  text-decoration: none;
}
